<h2> Tools Near You </h2>

<% if @tools.length > 0 %>
  <% @tools.each do |tool| %>

  	<% if tool.loaned == false && tool.hidden == false %>
    <div class='card card-inverse card-primary'>
      <h4 class='card-title'><%= tool.type.name %></h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong><%= tool.display_name %></strong></li>
        <li class="list-group-item"><strong>Make: </strong><%= tool.make %></li>
        <li class="list-group-item"><strong>Model: </strong><%= tool.tool_model %></li>
        <li class="list-group-item"><strong>Description: </strong><%= tool.description %></li>
        <li class="list-group-item"><a href="/users/<%= tool.user.id %>" >Owner: <%= tool.user.name %></a></li>
      </ul>
    </div>

    <% end %>
  <% end %>
<% end %>  