<h5>Add a new to tool to loan</h5>
<%= form_for @tool do |f| %>
  <div class="form-group">
    <%= f.text_field :display_name, placeholder: "Display Name", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :make, placeholder: "Make", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :tool_model, placeholder: "Model", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "Description", rows: '3', cols: '50', class: "form-control" %>
  </div>
  <p><%= select_tag(:type_id, options_for_select([
    ['Power Tools', 1],
    ['Lawn Care Tools', 2],
    ["Automotive", 3],
    ["Demolition", 4],
    ["Heavy Machinery", 5],
    ["Cleaning Tools", 6],
    ["Electrical", 7],
    ["Household Tools", 8],
    ["Misc Parts", 9]
    ]), class: "custom-select") %></p>
  <%= submit_tag "Submit", class: 'btn btn-success' %>
<% end %>

