<% if @tools_nearby.length > 0 %>

  <% @tools_nearby.each do |tool| %>
    <div>
      <div class='card card-inverse card-primary'>
        <h4 class='card-title'><%= tool.type.name %></h4>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong><%= tool.display_name %></strong></li>
          <li class="list-group-item"><strong>Make: </strong><%= tool.make %></li>
          <li class="list-group-item"><strong>Model: </strong><%= tool.tool_model %></li>
          <li class="list-group-item"><strong>Description: </strong><%= tool.description %></li>
        </ul>
      </div>
    </div>
  <% end %>
<% else %>
  <h5>There are no tools of this type in your area. Check back later.</h5>
<% end %>
