<h3><%= @user.name %>'s Tools</h3>
<% if current_user != @user %>
  <%= button_to "Leave Review for #{@user.name}", new_user_review_path(@user.id) , method: "get", class: "btn btn-success review-button" %>
<% end %>

<% if @tools.length > 0 %>
  <% @tools.each do |tool| %>
    <div class='card card-inverse card-primary'>
      <h4 class='card-title'><%= tool.type.name %></h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= tool.display_name %></li>
        <li class="list-group-item"><%= tool.make %></li>
        <li class="list-group-item"><%= tool.tool_model %></li>
        <li class="list-group-item"><%= tool.description %></li>
        <% if @user == current_user %>
          <div>
            <% if tool.loaned == false %>
              <%= button_to "Loan Out", action="/tools/loan_out/#{tool.id}", class: "btn btn-success" %>
            <% else %>
              <%= button_to "Return from Loan", action="/tools/return_loan/#{tool.id}", class: "btn btn-success" %>
            <% end %>

            <% if tool.hidden == false %>
              <%= button_to "Hide From Borrowers", action="/tools/hide/#{tool.id}", class: "btn btn-warning" %>
            <% else %>
              <%= button_to "Show to Borrowers", action="/tools/unhide/#{tool.id}", class: "btn btn-success" %>
            <% end %>

            <%= button_to 'Destroy', "/tools/#{tool.id}",
              method: "delete", remote: true, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% if @reviews.length > 0 %>
  <div><%= "Overall Rating: " + @rating_average.to_s %></div><br>
  <% @reviews.each do |review| %>
    <div><%= review.author.name + "'s Review: " %></div>
    <div><%= review.review %></div>
    <div>Rating: <%= review.rating %></div><br>
  <% end  %>
<% end %>

