<h3>Your Tools</h3>
<% if @tools.length > 0 %>
  <% @tools.each do |tool| %>
    <div class='card card-inverse card-primary'>
      <h4 class='card-title'><%= tool.type.name %></h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= tool.display_name %></li>
        <li class="list-group-item"><%= tool.make %></li>
        <li class="list-group-item"><%= tool.tool_model %></li>
        <li class="list-group-item"><%= tool.description %></li>
        <% if tool.loaned == false %>
          <%= button_to "Loan Out", action="/tools/loan_out/#{tool.id}" %>
        <% else %>
          <%= button_to "Return from Loan", action="/tools/return_loan/#{tool.id}" %>
        <% end %>

        <% if tool.hidden == false %>
          <%= button_to "Make Inactive", action="/tools/hide/#{tool.id}" %>
        <% else %>
          <%= button_to "Re-Activate", action="/tools/unhide/#{tool.id}" %>
        <% end %>

        <%= button_to 'Destroy', "/tools/#{tool.id}",
          method: "delete", remote: true, data: { confirm: 'Are you sure?'} %>
      </ul>
    </div>
  <% end %>
<% end %>

