<h1>Welcome</h1>

<div>
  <%= button_to "Lend", new_tool_path, method: :get %>
</div>

<div>
  <%= button_to "Borrow", "/nearby", method: :get, class: "borrow-button" %>
  <div class="hidden-button">
    <%= form_tag('/types/search', method: :post) do %>
      <%= text_field_tag "name" %>
      <%= submit_tag "Search Types" %>
  </div>
  <% end %>
</div>

