<h1 class='lend-borrow-head'>Welcome</h1>
<div class='lend-borrow'>
  <%= button_to "Lend", new_tool_path, method: :get, class:'btn btn-primary btn-lg btn-block welcome-button' %>

  <button type="button" class="btn btn-secondary btn-lg btn-block welcome-button" data-toggle='collapse' data-target='#search' aria-expanded='false' aria-controls='search'>Borrow</button>
  <div class='collapse' id='search'>
    <div class='card card-block'>
      <%= form_tag('/types/search', method: :post) do %>
        <%= text_field_tag "name", '' ,id: 'type-search' %>
        <%= submit_tag "Search Types", class: 'btn btn-success' %>
      <% end %>
    </div>
    <%= button_to("Browse", "/nearby", method: "get") %>
  </div>
</div>


