<!DOCTYPE html>
<html>
  <head>
    <title>Tooltrader</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href="/">Home</a>

    <% if session[:id] %>
      <%= link_to "Logout", logout_path, method: :delete %>
      <a href="/user/<%= session[:id] %>">Profile</a>
    <% else %>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    <% end %>

    <%= yield %>
  </body>
</html>
